{% extends 'base/base.html' %}
{% block content %}
<h1>Hello , this is my easy way django project.</h1>

<p>test base content block.</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


    {% for flower in flowers %}

    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ flower.title }}</h5>
                <p class="card-text">{{ flower.description|truncatechars:30 }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                href="{% url 'detail' flower.slug %}" class="card_link">Edit</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                href="adminmyapp/flower/{{ flower.id }}/delete/" class="card_link">Delete</a></button>
                    </div>
                    <small class="text-muted"><a href="#" class="card_link">{{ flower.category }}</a></small>
                </div>
                <hr>
                All flowers in <strong>{{ flower.category }}</strong> category: <br>
                {% for flower_cate in flower.category.flower_set.all %}
                <a href="#" class="card_link">{{ flower_cate }}</a><br>
                {% endfor %}

                <hr>
                {% for flower_tags in flower.tags.all %}
                <a href="#" class="card_link">{{ flower_tags }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
